<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751257968857-g9qfhors4j5funk2khsmlrtmcqfh3mfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751257968857-g9qfhors4j5funk2khsmlrtmcqfh3mfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>751257968857-2c5o93c9uo5acaq5vk762kssfvmh94aa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSj5KkC9E79CQTO6DMduv2lgJLjBwiGQc</string>
	<key>GCM_SENDER_ID</key>
	<string>751257968857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohammeddawood.qr-maker-app</string>
	<key>PROJECT_ID</key>
	<string>qr-maker-app</string>
	<key>STORAGE_BUCKET</key>
	<string>qr-maker-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751257968857:ios:0413f6eaa7edf062d69ec8</string>
</dict>
</plist>